<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Main Data is here 1</h1>

    <h2> Hint {{ hint }} </h2>

    <h3> Lives Left {{ lives }} </h3>

    <div>
    {% for i in answer %}
        <span> {{ i }}</span>
    {% endfor %}
    </div>

    <h2> Answer {{question}} </h2>

    <form action="/game" method="POST">
        <label for="answer">Answer : &nbsp; </label>
        <input type="text" id="answer" name="answer" maxlength="1" required> &nbsp;
        <button type="submit">Submit</button>
    </form>

</body>
</html>