<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yusha.css')}}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <h1 class="h1">
            Hint {{ hint }}
        </h1>
        <div class="box">
            
            <div class="screen" id="hangmanGraphics">
                <img src="{{ url_for('static', filename='images/' ~ lives ~ '.png')}}" class="hangmanimg">
            </div>
            <div class="ib">
                <div class="input">
                    <div class="overlay">
                        <div class="textbox" id="wordToGuess">
                            {% for i in answer: %}
                                <span> _ </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <form class="keyboard" action="/game" method="post">
                    <button type="submit" name="answer" value="a">A</button>
                    <button type="submit" name="answer" value="b">B</button>
                    <button type="submit" name="answer" value="c">C</button>
                    <button type="submit" name="answer" value="d">D</button>
                    <button type="submit" name="answer" value="e">E</button>
                    <button type="submit" name="answer" value="f">F</button>
                    <button type="submit" name="answer" value="g">G</button>
                    <button type="submit" name="answer" value="h">H</button>
                    <button type="submit" name="answer" value="i">I</button>
                    <button type="submit" name="answer" value="j">J</button>
                    <button type="submit" name="answer" value="k">K</button>
                    <button type="submit" name="answer" value="l">L</button>
                    <button type="submit" name="answer" value="m">M</button>
                    <button type="submit" name="answer" value="n">N</button>
                    <button type="submit" name="answer" value="o">O</button>
                    <button type="submit" name="answer" value="p">P</button>
                    <button type="submit" name="answer" value="q">Q</button>
                    <button type="submit" name="answer" value="r">R</button>
                    <button type="submit" name="answer" value="s">S</button>
                    <button type="submit" name="answer" value="t">T</button>
                    <button type="submit" name="answer" value="u">U</button>
                    <button type="submit" name="answer" value="v">V</button>
                    <button type="submit" name="answer" value="w">W</button>
                    <button type="submit" name="answer" value="x">X</button>
                    <button type="submit" name="answer" value="y">Y</button>
                    <button type="submit" name="answer" value="z">Z</button>
                </form>
                <button class="start" id="start" onclick="window.location.href='/main'">
                    <i data-lucide="box"></i>Reset
                </button>
            </div>
        </div>
    </div>

<!-- LUCIDE ICONS -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
    lucide.createIcons();
    </script>

<!-- JS file -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>