<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="container">
        <h2 class="h1">Hint: {{ hint }}</h2>
        <div class="box">
            <div class="screen" id="hangmanGraphics">

            </div>
            <div class="ib">
                <div class="input" id="wordToGuess">
                    {% for i in range(len): %}
                         <span> _ </span>
                    {% endfor %}
                </div>
                <div class="keyboard">
                    <button onclick="Guessed('a')">A</button> <button onclick="Guessed('b')">B</button> <button onclick="Guessed('c')">C</button> 
                    <button onclick="Guessed('d')">D</button> <button onclick="Guessed('e')">E</button> <button onclick="Guessed('f')">F</button> 
                    <button onclick="Guessed('g')">G</button> <button onclick="Guessed('h')">H</button> <button onclick="Guessed('i')">I</button> 
                    <button onclick="Guessed('j')">J</button> <button onclick="Guessed('k')">K</button> <button onclick="Guessed('l')">L</button> 
                    <button onclick="Guessed('m')">M</button> <button onclick="Guessed('n')">N</button> <button onclick="Guessed('o')">O</button> 
                    <button onclick="Guessed('p')">P</button> <button onclick="Guessed('q')">Q</button> <button onclick="Guessed('r')">R</button> 
                    <button onclick="Guessed('s')">S</button> <button onclick="Guessed('t')">T</button> <button onclick="Guessed('u')">U</button> 
                    <button onclick="Guessed('v')">V</button> <button onclick="Guessed('w')">W</button> <button onclick="Guessed('x')">X</button> 
                    <button onclick="Guessed('y')">Y</button> <button onclick="Guessed('z')">Z</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='../static/script.js') }}"></script>
</body>
</html>
